:root {
    --fuente--hs:'Oswald', sans-serif;
    --fuente--parrafos: 'Lato', sans-serif;

    --color--principal: black ;
    --color--secundario: orange;
    --color--white: white; }

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Sansita+Swashed:wght@500&display=swap');

/* Globales */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}

body {
    font-size: 16px;
    background-color: rgb(19, 18, 18) ;
    padding: 0;
    margin: 0;
}
 /* Titulos Principales */
h2 span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color--secundario);
    text-decoration: underline;
    font-size: 4rem;
    
}


h2 a {
    font-size: 3rem;
    font-family: var(--fuente--hs);
    text-decoration: none;
    color: var(--color--white);
}

h2 {
    color: var(--color--white);
    font-family: var(--fuente--hs);
    text-shadow: 0.2rem 0.2rem 0.2rem #cc8e09;
    text-align: center;
}

h3 {
    font-family: var(--fuente--hs);
    text-align: center;
    text-shadow: 0.6rem 0.6rem 0.6rem #cc8e09;
    color: var(--color--white);
}

h1 {
  font-family: var(--fuente--hs);
  color: var(--color--white);
  text-shadow: 0.6rem 0.6rem 0.6rem #cc8e09;
  text-align: center;
  padding: 15rem 0;
  font-size: 5rem;
<<<<<<< HEAD:Styles/Styles.css
}

=======
  transition: all 1s;
}

h1:hover {
    transform: scale(1.1);
   
}



>>>>>>> aplicando-animaciones:css/backup.css

/* Parrafos */
p {
    color: var(--color--white);
    font-family: var(--fuente--parrafos);
    text-align: justify;
}

/*Media Query 1 */


/* Barras de Navegacion */
.navegacion-principal, 
.navegacion-baja {
    background-color: var(--color--secundario);
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-evenly;
}
/* Enlaces de las Barras */
.navegacion-principal a,
.navegacion-baja a {
    font-family: var(--fuente--parrafos);
    color: var(--color--white);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    transition: all 0.5s;
}

/* Efecto a los Botones */
.navegacion-principal a:hover,
.navegacion-baja a:hover {
    background-color: var(--color--principal);
    border-radius: 0.3rem;
    transform: scale(1.1);
    
}

/* Imagen Principal */
.header-hero {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-bottom: 2rem;
    
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* Main */
.contenido-principal {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;

}

/* Aside con Nota */
aside {
    background-color: var(--color--secundario);
    border: 0.3rem solid var(--color--white);
    text-align: center;
    padding: 1rem;
}

.imgcnn {
    width: 10rem;
}

img {
    max-width: 30rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

/* Logo Fixed */
.logowp {
    position: fixed;
    width: 5rem;
    right: 1rem;
    bottom: 1rem;
}
/* Derechos del Autor */
.derechos {
    display: flex;
    justify-content: center;
}


.sub-main2 {
    display: flex;
    text-align: justify;
    gap: 2rem;
}

.main-2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    
}

.vid-2 {
    display: block;
    margin: 0 auto;
    
}
/* Sombra para Formulario */
.sombra {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* Formulario */
form {
    background-color: rgb(192, 192, 192);
    width: 50rem;
    font-family: var(--fuente--parrafos);
    font-size: 1.8rem;
    line-height: 1.5rem;
    padding: 2rem;
    margin: 5rem auto;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    
}

form fieldset {
    border: none;
}
/* Section de Nosotros */
.section-nos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0 5rem 0;
}
/* Main modelos */
.main-mod {
    display: grid;
}
/* Contenido principal modelos */
.sub-main__mod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
/* Mapa Contactos */
.map {
   display: grid;
   justify-content: center;
}
/* Telefonos Contacto */
.telefonos {
    color: var(--color--white);
    display: flex;
    justify-content: space-around;
}

/* Media Query Responsive */
@media (max-width: 480px) {
    .navegacion-principal, 
    .navegacion-baja {
        flex-direction: column;
        align-items: center;
    } 
    h1 {
        font-size: 3rem;
    }
    .contenido-principal {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
    .container {
        max-width: 47rem;
    }

    .main-2 {
        display: flex;
        flex-direction: column;
    }

    .video1 {
        display: flex;

    }

    .form {
        width: auto;
    }

    .section-nos {
        flex-direction: column;
        gap: 5rem;
    }

    .sub-main__mod {
        display: flex;
        flex-direction: column;
    }

    .sub-main__mod img {
        margin: 0 auto;
    }
}

<<<<<<< HEAD:Styles/Styles.css
=======
.card {
    background-color: black;
    border-radius: 10px;
    
}

.cards {
    gap: 40px;
}

>>>>>>> aplicando-animaciones:css/backup.css
