aside {
    margin-top: 50px;
    background: linear-gradient( black , $map: $colors, $key: white);
    border-radius: 5px;
    border: 2px solid map-get($map: $colors, $key: white);
    display: inline-block;
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}