aside {
    max-width: 20%;
    max-height:auto;
    color: white;
    margin-top: 50px;
    background: linear-gradient( black , white);
    border-radius: 5px;
    border: 2px solid map-get($map: $colors, $key: white);
    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid white;
    }

    .aside-content {
        align-items: center;
        gap: 20px;
    }

    .aside-info {
        flex-direction: column;
        justify-content: center;
    }

    
    @media (max-width:768px) {
        max-width: 100%;

    }
}
