.cards {
    gap: 20px;
    margin: 50px auto;
}

.card, aside {
    background: linear-gradient( black, rgb(234, 237, 27));
    box-shadow: 10px 10px 15px 0px rgb(0, 0, 0);
    p {
        color: white;
    }
}

.img-log {
    width: 300px;
}