@mixin Modelos {
    border: 1px solid $white-color;
    background: linear-gradient($primary-color,$secundary-color);
    border-radius: 5px;
}



.modelo {
    box-shadow: 10px 10px 15px 0px #000;
    margin: 20px;
    @include Modelos()
    
}