*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@500&display=swap');

$colors: (
    primary: rgb(27, 27, 27),
    secundary: rgb(234, 237, 27),
    white: white
);


body {
    background: linear-gradient(rgb(27, 27, 27), rgb(68, 67, 67));
    color: map-get($map: $colors, $key: white )
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(234, 237, 27),2px 2px 3px rgb(11, 11, 10);
    animation-name: blur;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    @keyframes blur {
        0%{
            text-shadow: 1px 1px 2px rgb(246, 250, 0);
        }
        25%{
            text-shadow: 2px 2px 4px rgb(243, 245, 134);
        }
        50%{
            text-shadow: 1px 1px 2px rgb(240, 241, 221);
        }
        75%{
            text-shadow: 2px 2px 4px rgb(247, 249, 101);
        }
        100%{
            text-shadow: 1px 1px 2px rgb(246, 250, 0);
        }
    }
    
}
@media (max-width: 480px) {
    h1 {
        font-size: 60px;
    }
    .cards {
        display: grid;
    }
}

p {
    font-family: 'Lato', sans-serif;
}

.logowp {
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 1.5s;
    &:hover{
        transform: scale(1.1);
    }
    

    
    
}

.section {
    margin: 50px;
}


.derechos {
    text-align: center;
}

.vid {
    margin: 0 auto;
}

